/* SFLC.in CSS stylesheet overrides */

/*
 * Primary Color: Himalayan Blue :-) #1586C9
 * Replaces: Zircon Red #c01700
 */

/* Fix the width of newsletter subscribe form field in footer block */
input#edit-mail-0-value {
  width: 100%;
}

.node__content a {
  color: #1586C9;
}

.node__content a:hover, .node__content a:focus {
  border-bottom: 1px solid #1586C9;
}

/* Sections */
#about_us {
  margin-bottom: 15px;
}

#about_us .container {
  padding: 15px;
  box-shadow: 0 0 5px #ccc;
}

#latest_updates {
  margin-bottom: 15px;
}

#latest_updates .container {
  padding: 15px;
  box-shadow: 0 0 5px #ccc;
}

.section-title {
  margin-top: -15px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 135%;
  background-color: lightgrey;
  color: black;
}

.about-block-menu-item {
  display: inline-block;
  text-align: center;
  width: 30%;
}

.about-block-menu-item a {
  font-weight: bolder;
  font-size: 110%;
}

nav .menu--front-page-menu {
  width: 1170px;
}

.menu--front-page-menu ul {
  width: 100%;
}

.menu--front-page-menu > ul > li {
  width: 25%;
  text-align: center;
}

.views-field.views-field-bio {
  display: inline-block;
}

/* Page */
body {
  background-color: #FFFFFF;
  color: #000000;
}

.container {
  width: 100%;
}

#header .container, #main-menu .container, #featured .container, #main .container, #panel_first .container, #panel_second .container {
  padding-left: 5%;
  padding-right: 5%;
}

#header .container, #main-menu .container, #slideshow .container, #slideshow .container .views-field-field-slideshow img, #featured .container, #main .container, .sidebar .block, #panel_first .container, #panel_second .container {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

/* Override from base: no bottom margins, all sections touch each other. */
#main, #panel_first, #panel_second {
  margin-bottom: 0px;
}

#panel_first .container {
  color: #ffffff;
  background-color: #1563C9;
}

#panel_second .container{
  color: #ffffff;
  background-color: #1586C9;
}

#panel_second a {
  color: #ffffff !important;
  font-weight: bold;
}

#main-menu .container, #slideshow .container, #featured .container, #main .container, #panel_first .container, #panel_second .container {
  box-shadow: none;
}

#main .container .content .views-row {
  border-top: 1px solid #1586C9;
}

/* New Custom Changes */
#main-menu .container ul.menu li .is-active,
#main-menu .container ul.menu li:hover > a,
#main-menu .container ul.menu li:focus > a,
#main-menu .container,
#main-menu .container ul.menu li.menu-item--active-trail > a{
  background: none;
  background-color: #1586C9;
}

#main-menu .container ul.menu ul.menu {
  background: #1586C9;
  border: none;
}

#main-menu .container ul.menu ul.menu li a {
  color: #fff;
}
#main-menu .container ul.menu ul.menu li:hover > a,
#main-menu .container ul.menu ul.menu li:focus > a {
  background-color: #ffffff;
  color: #1586C9;
}

#main-menu .container ul.menu ul.menu li {
  border-top: none;
}

#main-menu .container ul.menu li {
  border-left: none;
}

/* Sidebar */
.sidebar h2 {
  background: none;
  border-radius: 0px;
  color: inherit;
  font-weight: bolder;
}

.sidebar .block {
  border: none;
}

.sidebar .views-field-title {
  font-weight: bold;
}

/* Typography */
body {
  font-family: "GentiumR", sans-serif;
  font-size: 16px;
}

h1, h2, h3,
#main-menu .container ul.menu li > a,
#main-menu .container ul.menu li  ul.menu li > a,
#slideshow .container .views-field-title,
#featured .container .views-field-title
{
  font-family: "Open Sans", sans-serif;
}

.node__content, #block-sflc-content {
  font-family: GentiumR, serif;
}

.node__content * {
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

.page-title {
  font-family: GentiumB, serif;
}

.sflc-member-title,
.field--name-field-project.field--type-entity-reference.field__item,
.field--name-field-tags.field--type-entity-reference .field__item,
.node__meta
{
  font-family: "GentiumB", sans-serif;
}

.field--name-field-project.field--type-entity-reference.field__item {
  font-weight: 700;
}


a {
  color: #1586C9;
}

a:hover, a:focus {
  color: #1586C9;
  //color: #ffffff;
  //background-color: #1586C9;
}

.hyphenated {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.block .block-views > h2 {
  text-transform: uppercase;
  color: #1586C9;
}

/*
Looks like a redundant rule. If there aren't any zircon red links on hover.
Remove next time you see this in code.
*/
/*.views-field-view-node a:hover,
.views-field-view-node a:focus {
  color: #ffffff;
  background-color: #1586C9;
}*/

/* Need this to override zircon's row header hover styling */
#main .container .content .views-row:hover h2 a,
#main .container .content .views-row:focus h2 a {
  color: #1586C9;
  background-color: #ffffff;
}

#block-sflc-page-title h1 {
  color: #1589C9;
}

#panel_second {
  font-family: "Open Sans", sans-serif;
}

/* Metadata */
/*Project Link*/
.field.field--name-field-project.field__item,
.views-field.views-field-field-project > .field-content > a {
  float: left;
  background-color: rgb(21, 134, 201);
  padding: 0px 10px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.views-field.views-field-field-project > .field-content > a {
  float: none;
}

.field.field--name-field-project.field__item a {
  color: #FFFFFF;
}

/* Tags */
.field.field--name-field-tags {
  text-align: right;
  display: block;
}

.field.field--name-field-tags .field__item {
  display: inline-block;
  margin-left: 10px;
  text-transform: capitalize;
}

/* People Pages */
.people-page-view .view-header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1586C9;
}

.profile .field--type-image > img {
  border-radius: 50%;
}

.sflc-member-full-name {
  font-size: 125%;
  font-weight: 700;
}

.sflc-member-title {
  font-size: 80%;
  text-transform: uppercase;
}

.sflc-member-gpg-fingerprint {
  font-size: 85%;
  font-family: monospace;
  text-transform: uppercase;
}

.field.field--name-user-picture {
  margin: 10px 0px;
}

.field.field--name-field-bio {
  margin-top: 15px;
}

/* Selection */
::selection {
  color: white;
  background: #1589C9;
}

::-moz-selection {
  color: white;
  background: #1589C9;
}

/* Site Header */
#header {
  background-color: #1563C9;
}

.site-logo, .site-slogan {
  display: inline-block;
}

.site-logo {
  height: unset;
}

.site-logo img {
  height: 100px;
  width: unset;
}

.site-slogan {
  font-style: italic;
  font-size: 2em;
  color: white;
  margin-left: 2em;
}

/* Remove the header link hover issue */
.site-logo a:hover, .site-logo a:focus {
  background-color: transparent;
}

#header .search-block-form {
  border-radius: 0px;
  border-width: 0px 0px 1px 0px;
}

/* Home Page Styles */

[class^="postcard-"] {
  margin-bottom: 10px;
}

.postcard {
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  margin-bottom: 10px;
}

.postcard-content {
  margin: 5px 2%;
  padding: 5px 2%;
}

.postcard .date {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: #999999;
}

.postcard .title {
  font-family: "GentiumB", serif;
  overflow: hidden;
  height: 2.5em;
}

.postcard .title > a {
  color: #000000;
}


.postcard .body {
  position: relative;
  overflow: hidden;
  height: 6em;
}

.postcard .body:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom,rgba(255,255,255,0.0),rgba(255,255,255,0.9));
}

.postcard .project {
  font-family: "Open Sans", sans;
  text-transform: uppercase;
  background-image: none;
  background-color: #fff;
  border-color: #1586C9;
  color: #1586C9;
  box-shadow: unset;
  border-radius: 20px;
  font-weight: bold;
}

.postcard .readmore {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.postcard .subtitle{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.postcard .source, .postcard .footer > * {
  font-size: 0.8em;
}

.postcard .footer {
  padding-left: 15px;
  padding-right: 15px;
}


div.block.block-views.block-views-blocklatest-blogs-block-1 {
  border-bottom: 1px solid #1586C9;
}

.latest-blogs-thumbnail {
  margin-bottom: 10px;
}

.latest-blogs-thumbnail img {
  display: block;
}

.latest-blog-item .views-field.views-field-field-project {
  display: inline-block;
}

.latest-blog-item .views-field.views-field-changed {
  display: inline-block;
  float:right;
}

/* Buttons */
.btn-default, .btn-default:hover, .btn-default:active {
  font-family: "Open Sans", sans;
  text-shadow: none;
  background-image: none;
  background-color: #1586C9;
  border-color: #1586C9;
  color: white !important;
}
