{% extends "block.html.twig" %}
{#
/**
 * @file
 * SFLC Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}

  <div class="row">
    <div class="logo-wrapper site-logo">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    </div>
    <div class="site-slogan">
      <span> {{ site_slogan }} </span>
    </div>
  </div>
{% endblock %}
